:host {
  ::ng-deep .toolTipButton{
    border: 0;
    background: none;
    color: #3B82F6;
  }
}

.custom-margin {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.text-danger {
  margin-top: 0;
  color: red;
  font-size: 0.875rem;
  font-weight: bold;
}
